* {
    padding: 0;
    margin: 0;
}

.items-search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    position: absolute;
    top: 3%;
    left: 3%;
}

.modal-content {
    top: 42.5%;
    bottom: 42.5%;
    left: 39%;
    right: 39%;
    width: 22%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: absolute;
    border-radius: 10px;
}

.modal-content:focus {
    outline: 0;
}

.modal-form {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 0;
}

.modal-form label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 70%;
    width: 75%;
}

.save-button {
    background: white;
    width: 40%;
    height: 30%;
    border-radius: 4px;
}

.save-button {
    transition: .2s ease;
    background: white;
    width: 40%;
    height: 30%;
    border-radius: 4px;
}

.save-button {
    transition: .2s ease;
    background: white;
    width: 40%;
    height: 30%;
    border-radius: 4px;
}

.save-button:hover {
    background: lightgreen;
    cursor: pointer;
}

.modal-form .name-input {
    width: 100%;
    background: transparent;
    height: 35%;
}

.information-box {
    position: absolute;
    display: flex;
    align-self: flex-end;
    top: 0;
    right: 0;
    width: 13%;
    height: 10%;
    background: white;
    z-index: 100;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.information-box p {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;

}

@media only screen and (max-width: 1150px) {
    .information-box {
        width: 17%;
    }
    .information-box p {
        font-size: 13px;
    }
    .modal-content {
        left: 36.5%;
        right: 36.5%;
        width: 27%;
    }

}

@media only screen and (max-width: 750px) {
    .information-box{
        width: 20%;
    }
    .information-box p {
        font-size: 12px;
    }
}


