* {
    padding: 0;
    margin: 0;
}

.list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 60px;
    border-bottom: 1px solid lightgray;
    background: white;
}

.list-item-icon-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.list-item-button-wrapper {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.place-name {
    font-size: 16px;
    color: darkgrey;
    font-weight: 500;
    cursor: pointer;
    text-align: start;
}

.place-name:hover {
    color: grey;

}

.delete-button {
    cursor: pointer;
}

.delete-button-text {
    color: darkred;
    font-size: 13px;
    font-weight: 600;
}

.delete-button-text:hover {
    color: red;
}

.location-icon {
    color: red;
    font-size: 1.5em;
}

